main {
  width: 100%;
  margin-top: 50px;
}

h1 {
  font-size: 54px;
}

span {
  color: #ff5d5d;
}

h4 {
  margin: 2px;
}

p {
  margin: 0;
}



.secondary-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.secondary-nav .btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 70px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.secondary-nav .btn-text {
  margin: 5px 0 0 0;
  text-overflow: ellipsis;
}

.secondary-nav .icon {
  margin: 5px 0 0 0;
  padding-left: 30px;
}

.secondary-nav .btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  gap: 2px;

  @media screen and (max-width: 768px) {
    flex-direction: column;   
  }
}

.container .main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 430px;

  @media screen and (max-width: 768px) {
    height: 350px;  
  }
}

.container .main .text {
  max-width: 80%;
  height: fit-content;
}

.container .main .main-picture {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

.container .main .main-picture:hover {
  cursor: pointer;
  opacity: 0.8;
}

.secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 430px;

  @media screen and (max-width: 768px) {
     display: none;
  }
}

.secondary .secondary-picture,
.secondary-bis .secondary-picture {
  width: 100%;
  height: 213px;
  object-fit: cover;
}

.secondary .secondary-picture:hover,
.secondary-bis .secondary-picture:hover {
  cursor: pointer;
  opacity: 0.8;
}

.secondary-bis {
  width: 50%;
  height: 430px;
}

.secondary-bis .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ff5d5d;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}

.secondary-bis .text {
  max-width: 80%;
}

.secondary-bis .btn {
  background: black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.secondary-bis .btn:hover {
  cursor: pointer;
  background-color: rgb(40, 40, 40);
}

.nav-step {
  margin-top: 25px;
}

.nav-step .link {
  text-decoration: none;
  color: black;
}

.nav-step .link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.best {
  margin: 190px 0;
  width: 100%;
}

.best .container-best {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  gap: 10px;

    @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.best .container-best .card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 320px;
  width: 320px;
  min-width: 280px;

    @media screen and (max-width: 768px) {
    height: 300px;
  }
}

.best .container-best .card .link {
  color: black;
}

.best .container-best .card .image-container {
  position: relative;
}

.best .container-best .card .image-container .picture-carousel {
  width: 270px;
  height: 220px;
}

.best .container-best .card .image-container .icon-carousel-like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.best .container-best .card .image-container .icon-carousel-like:hover {
  cursor: pointer;
}

.best .container-best .card .infos {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100px;
}

.best .container-best .card .infos .note-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0 0 2px;
}

.best .container-best .card .infos .note-container .note {
  background-color: #04A96C;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.carousel-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  max-width: 900px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;

    @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.carousel-container::-webkit-scrollbar {
  width: 0;
}
