main {
  width: 100%;
  margin-top: 50px;
}

h1 {
  font-size: 54px;
}

span {
  color: #ff5d5d;
}

h4 {
  margin: 2px;
}

p {
  margin: 0;
}

.secondary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    text-align: start;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    width: 150px;

    .btn-text {
      margin: 5px 0 0 0;
      text-overflow: ellipsis;
    }

    .icon {
      margin: 5px 0 0 0;
      padding-left: 30px;
    }

    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  gap: 2px;

  .main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 430px;

    .text {
      font-size: 20px;
      max-width: 80%;
    }

    .main-picture {
      width: 100%;
      height: 430px;
      object-fit: cover;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 430px;

  .secondary-picture {
    width: 100%;
    height: 213px;
    object-fit: cover;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.secondary-bis {
  width: 50%;
  height: 430px;

  .card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ff5d5d;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
  }
  .text {
    font-size: 20px;
    max-width: 80%;
  }

  .btn {
    background: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      background-color: rgb(40, 40, 40);
    }
  }

  .secondary-picture {
    width: 100%;
    height: 213px;
    object-fit: cover;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.nav-step {
  margin-top: 25px;
  font-size: 14px;
  .link {
    text-decoration: none;
    color: black;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.best{
  margin: 190px 0;
  width: 100%;

  .container-best{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    gap: 10px;

    .card {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 320px;
      width: 320px;
      min-width: 280px;
      font-size: 16px;

      .link {
        color: black;
      }

      .image-container{
         position: relative;

        .picture-carousel {
          width: 270px;
          height: 220px
        }

        .icon-carousel-like{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 20px;
          top: 10px;
          background-color: white;
          border: none;
          border-radius: 50px;
          width: 30px;
          height: 30px;
          font-size: 16px;

          &:hover{
            cursor: pointer;
          }
        }
      }

      .infos {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 100px;
        .note-container{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 5px 0 0 2px;

          .note {
            background-color: #04A96C;
            border-radius: 10px;
            width: 12px;
            height: 12px;
            margin-right: 2px;
          }
        }
      }

    }
  }
}

.carousel-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  max-width: 900px;
  overflow-x: auto; /* Autorise le défilement, mais affiche la barre de défilement seulement si nécessaire */
  white-space: nowrap; /* Empêche les éléments à l'intérieur de passer à la ligne suivante */
  scrollbar-width: none; /* Pour les navigateurs Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.carousel-container::-webkit-scrollbar {
  width: 0; /* Pour les navigateurs Chrome, Safari et autres basés sur WebKit */
}
